<configuration>

    <!-- Define the rolling file appender -->
    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>src/main/resources/logs/application.log</file>

        <!-- Define the rolling policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Set the file name pattern with daily rolling -->
            <fileNamePattern>src/main/resources/logs/logfile-%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- Set the maximum history of 30 days -->
            <maxHistory>15</maxHistory>

            <!-- Set the total size of archived log files to 10 MB -->
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>

        <!-- Define the encoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define the root logger with appender and level -->
    <root level="info">
        <appender-ref ref="rollingFile"/>
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>